.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 95%;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.title {
  color: #1e293b;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 1.5;
  }
}

.subtitle {
  text-align: center;
  color: #334155;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
  }
}

.image {
  width: 100%;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .image {
    margin-top: 16px;
  }
}

.description {
  color: #334155;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .description {
    margin-bottom: 16px;
  }
}

.button {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: #1f81ff;
  border: none;
  border-radius: 6px;
  margin-top: 8px;
  padding: 8px 16px;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .button {
    margin-top: 16px;
    align-self: center;
  }
}
